@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
body{
    max-width: 425px;
    margin: 0 auto;
}
*:before,*:after,*
{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.header
{
    width:100%;
    background:#e74c3c;
    height:50px;
    line-height: 50px;
    color:#ecf0f1;
    text-align: center;
    font-weight: 700;
    font-family: 'Open Sans',
    sans-serif;

}
.taskList
{
    padding:0 40px;
    margin-bottom: 50px;
   

}
.listItem
{
    background:#f1c40f;
    margin-top: 40px;
    color:#2c3e50;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:5px 20px;
    font-weight: 200;
    position: relative;
   transform:translateX(-5000px);
    transition: all ease-in-out 2s;
}
.listItem.active
{
  
       transform:translateX(0);

}
.listItem::after{
    content:" ";
    display: block;
    clear:both;
}
.listItem .ListDate
{
    position: absolute;
    top:-30px;
    background:#e74c3c;
    width:60px;
    height:60px;
    border-radius: 50%;
    left:-20px;
    text-align: center;
    color:white;
    text-transform: uppercase;
    font-size:14px;
}
.listItem .ListDate .Date{
    font-weight: 700;
    font-size:12px;
    line-height: 60px;
}
.listItem .done
{
    width:40px;
    height:40px;
    background:#2ecc71;
    border-radius: 50%;
    position: absolute;
    right:-20px;
    top:-20px;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    color: white;
}
.listItem .Task
{

    padding:40px 0;
    word-break: break-all
}
.form{
    position: fixed;
    max-width: 425px;
    bottom:0;
    width:100%;
    border-top:1px solid black;
    border-bottom:1px solid black;
    min-height:40px;
    height:40px;
}
.form textarea
{
    float:left;
    width:80%;
    height:100%;
    border:0;
    resize:none;
    
}
.form button{
    float:left;
    width:20%;
    height:100%;
    border:0;
    background: #8e44ad;
    color:white;
    font-family: 'Open Sans',
    sans-serif;
}